@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;

}
.form {
  padding-top: 100px;
  padding-left: 0;
  padding-right: 400px;
  height: 80vh;

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(15, 0, 1);
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #f3f0f0;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}


 



button:active {
  outline: none;
}

.employee__emailkey {
  color:darkslateblue;;
  border-bottom: solid 2px rgba(255,255,255,0.06);
 
  font-family: cursive;
  font-weight: 400;

  text-align: center;
  display:inline-block;

}